/*************
*   GALLERY  *
*************/
.gallery{
    background-image: url(../img/4-gallery/gallery-background.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
@media(max-width:800px){
    .gallery .container{
        padding: 20px;
    }
}
.grid-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
}
@media(max-width:800px){
    .grid-container{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        gap: 20px;
    }
}
@media(max-width:500px){
    .grid-container{
        grid-template-columns: auto ;
        grid-template-rows: auto auto auto auto auto auto;
        gap: 20px;
    }
}
.grid-item{
    border: 10px groove var(--color-dark-secondary);
    box-shadow: 1px 1px 6px 1px black;
}
.grid-item-large{
    grid-column: 3;
    grid-row: 1 / span 2;
}
@media(max-width:800px){
    .grid-item-large{
        grid-column: 2;
        grid-row: 1 / span 2;
    }
}
@media(max-width:500px){
    .grid-item-large{
        grid-column: 1;
        grid-row: 3 / span 2;
    }
}
.gallery-image{
    width: 100%;
    height: 100%;
}